svg, g {
  pointer-events: all;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
  color: blue;
 }
.title {
  text-anchor: middle;
  font-weight: 700;
}

.Realline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.Reallinecircle {
  fill: green;
}
.Reallinecircle:hover {
  fill: steelblue;
}

.Foreastlinecircle{
  fill:red;
}

.Foreastlinecircle:hover{
  fill:orange;
}

.Foreadtline{
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.flag {
  stroke: gray;
  stroke-dasharray: 5;
  stroke-width: 1.5;
  display: none;
  pointer-events: none;
}
.tips {
  pointer-events: none;
  display: none;
}
.tips-border {
  fill: #F3E4E4;
  stroke: gray;        
  stroke-width: 2;
}
.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}
